@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: 'JetBrains Mono', mono;
  font-size: large;
  background-color: #6b6b6b;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.wrapper {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  margin: 0 auto;
}

.links > .link {
  margin: 12px auto;
}

.boxed-text {
  width: fit-content;
  padding: 6px 12px;
  background-color: white;
}

.shadow {
  box-shadow: -4px 4px black;
}

.shadow-animation {
  transition: box-shadow 0.3s;
}

.shadow-animation:hover {
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s;
}

.link {
  margin: 12px;
}
