@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: 'JetBrains Mono', mono;
  background-color: #6f9d6d;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.wrapper {
  font-size: x-large;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
}

.description {
  font-style: italic;
  margin: 12px auto;
}

.links {
  margin: 16px;
}

.link {
  margin: 12px 6px;
  color: black;
}

.posts {
  margin-top: 1em;
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

.posts-header {
  margin: 12px 0;
}

.post-link {
  color: black;
}

.post-title {
  display: inline-block;
  text-decoration: underline;
  margin: 4px 0;
}

.post-summary {
  margin: 4px 0;
}

.post-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.post-page {
  grid-column: 2 / 2;
}

.inline-code {
  background-color: #e9e9e9;
  padding: 0 4px;
  border-radius: 4px;
}

.boxed-text {
  width: fit-content;
  max-width: 100%;
  padding: 6px 12px;
  background-color: white;
  border-radius: 6px;
}

.shadow {
  box-shadow: -4px 4px black;
}

.shadow-animation {
  transition: box-shadow 0.3s;
}

.shadow-animation:hover {
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s;
}
