.title {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.description {
  overflow: hidden;
  text-align: center;
  font-style: italic;
  margin: 12px auto;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
}

.link {
  margin: 6px;
  color: black;
}

.shadow {
  box-shadow: -4px 4px black;
}

.shadow-animation {
  transition: box-shadow 0.3s;
}

.shadow-animation:hover {
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s;
}
