.container {
  margin-top: 1em;
}

.header {
  margin: 12px 0;
}

.link {
  color: var(--boxed-text-color);
}

.title {
  display: inline-block;
  text-decoration: underline;
  margin: 4px 0;
}

.summary {
  margin: 4px 0;
}
