.container {
  margin: 0 auto;
  width: max(60%, 320px);
}

.info {
  font-size: clamp(100%, 4vw, 150%);
  margin: 0 auto;
}

.cv-entry {
  margin: 12px 0;
}

.role {
  font-style: italic;
  text-decoration: underline;
}

.mm {
  margin: 8px 0;
}
