@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,bold,italic&subset=latin,latin-ext');

:root {
  --boxed-text-bg: hsl(44, 100%, 75%);
  --bg: hsl(80, 48%, 70%);
  --boxed-text-color: #000;
  --code-bg-color: hsl(44, 100%, 85%);
}

body {
  font-family: 'JetBrains Mono', mono;
  background-color: var(--bg);
}

.centered {
  margin: 12px auto;
}

.boxed-text {
  color: var(--boxed-text-color);
  width: fit-content;
  max-width: 100%;
  padding: 6px 12px;
  background-color: var(--boxed-text-bg);
  border: solid black 1px;
  border-radius: 6px;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
}

.links > a {
  margin: 6px;
  color: var(--boxed-text-color);
}

.shadow {
  box-shadow: -4px 4px black;
}

.shadow-animation {
  transition: box-shadow 0.3s;
}

.shadow-animation:hover {
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s;
}

.info > p {
  font-style: italic;
}
