@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,bold,italic&subset=latin,latin-ext');

:root {
  --boxed-text-bg: hsl(44, 100%, 75%);
  --bg: hsl(80, 48%, 70%);
  --boxed-text-color: #000;
  --code-bg-color: hsl(44, 100%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #303030;
    --boxed-text-bg: #505050;
    --boxed-text-color: #fff;
    --code-bg-color: #666666;
  }
}

body {
  font-family: 'JetBrains Mono', mono;
  background-color: var(--bg);
}

.container {
  margin: 32px 32px;
  display: flex;
  flex-direction: column;
}

.boxed-text {
  color: var(--boxed-text-color);
  width: fit-content;
  margin: 12px auto;
  max-width: 100%;
  padding: 6px 12px;
  background-color: var(--boxed-text-bg);
  border: solid black 1px;
  border-radius: 6px;
}
