.info {
  font-size: clamp(100%, 4vw, 150%);
}

.description {
  overflow: hidden;
  text-align: center;
  font-style: italic;
  margin: 12px auto;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
}

.links > a {
  margin: 6px;
  color: var(--boxed-text-color);
}

.shadow {
  box-shadow: -4px 4px black;
}

.shadow-animation {
  transition: box-shadow 0.3s;
}

.shadow-animation:hover {
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s;
}

.posts-container {
  margin-top: 1em;
}

.post-title {
  margin: 0 auto;
  overflow: hidden;
}

.post-link {
  color: var(--boxed-text-color);
}

.post-title {
  display: inline-block;
  text-decoration: underline;
  margin: 4px 0;
}

.post-summary {
  margin: 4px 0;
}
