.info {
  font-size: clamp(100%, 4vw, 150%);
}

.description {
  overflow: hidden;
  text-align: center;
  font-style: italic;
  margin: 12px auto;
}

.posts-wrapper {
  margin: 0 auto;
}

.posts-container {
  margin: 0 auto;
  width: max(60%, 320px);
}

.post-link {
  width: auto;
  max-width: 360px;
  display: block;
  text-decoration: none;
}

.post-title {
  display: inline-block;
  text-decoration: underline;
  margin: 4px 0;
}

.post-summary {
  margin: 4px 0;
}
