.container {
  width: max(60%, 320px);
  margin: 0 auto;
  line-height: 140%;
}

.container > pre {
  overflow: scroll;
  margin: 0;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--code-bg-color);
}

.container > p > code {
  padding: 2px;
  border-radius: 6px;
  background-color: var(--code-bg-color);
}

.container > p {
  margin-top: 2px;
}

.container > h2 {
  margin: 10px 0;
}

.container > p > a {
  color: var(--boxed-text-color);
}
